# C++ objects and libs
*.slo
*.lo
*.o
*.la
*.lai
*.so
*.so.*
*.dll

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
#*build-*
*cmake-build-*
*.qm
*.prl

/temp
/bin
/source
.idea
*build-*
/CMakeFiles
.DS_Store
*.mp4
*.mp3
*.zip
*.yuv
*.h264
